## *Python Exercise
## *Dictionary and Set in python:

### 1. What is meant by dictionary?

Ans-A dictionary represents a group of elements arranged in the form of key-value pairs.In the dictionary, the first element is considered as 'key' and next element is taken as its value.the key and its value are separated by a colon(:). All the key-value paires are inserted in curly braces {}.

### 2. What is difference between dictionary and set?

Ans-A dictionary represents a group of elements arranged in the form of key-value pairs.In dictionary the key and its value are separated by a colon(":") and keys of dictionary are unique. 

set has group of elements or a single values instead of key-value pairs.its value are separated by a comma(",").Set does not hold duplicate values.

### 3. Create a python set of mixed data types?

In [18]:
#Here we have created the set of mixed data types means we include the integer,float, character 
#and string type of data in the set.
A={3,1,"a","v","rat",4.5,8.9}
print(A)

{1, 'a', 3, 4.5, 8.9, 'rat', 'v'}

### 4. Create a Dictionary of employee name, Id and salary?

In [21]:
d={'name':["prani","rani"],'Id':[15,16],'salary':[10000,12000]}
print(d)

{'name': ['prani', 'rani'], 'Id': [15, 16], 'salary': [10000, 12000]}

### 5. Display key-value pairs from dictionary using items () method?

In [22]:
#items() method display key as well as values.
d={'name':["prani","rani"],'Id':[15,16],'salary':[10000,12000]}
print(d)
pair=d.items()
print(pair)

{'name': ['prani', 'rani'], 'Id': [15, 16], 'salary': [10000, 12000]}
dict_items([('name', ['prani', 'rani']), ('Id', [15, 16]), ('salary', [10000, 12000])])

### 6. Create a dictionary and access values of 2nd key from the dictionary?

In [5]:
#In dictionary we can access the values using key as well as get() function.

d={'name':["prani","rani"],'Id':[15,16],'salary':[10000,12000]}
print(d)
print(d['Id'])
print(d.get('Id'))

{'name': ['prani', 'rani'], 'Id': [15, 16], 'salary': [10000, 12000]}
[15, 16]
[15, 16]

### 7. Create a dictionary and then print empty dictionary using clear() method?

In [58]:
#Using Clear() we can create empty dictionary.

dict={"name":["kohli","dhoni"],"scores":[100,78]}
print(dict)
a=dict.clear()
print(dict)

{'name': ['kohli', 'dhoni'], 'scores': [100, 78]}
{}

### 8. Create a Dictionary of name, roll no, marks, gender and access keys from the dictionary using key () method?

In [31]:
d={'name':["A","B"],"roll no":[22,23],"marks":[56,79],"gender":['M','F']}
c=d.keys()
print(c)

dict_keys(['name', 'roll no', 'marks', 'gender'])

### 9. Take two set A for even and B for odd and print the union of two set?

In [4]:
#we can Combine the element of two set using union() method.

A={2,4,6,8}
B={1,3,5,7}
print(A.union(B))

{1, 2, 3, 4, 5, 6, 7, 8}

### 10. If A={1,2,3,4,5} and B={4,5,6,7,8} then find difference,  intersection of set A and B?

In [38]:
#intersection() gives common element of two set. we can use "&" instead of intersection.
#difference of A-B gives element in set A not in B and difference of B-A gives element in set B not in A.

A={1,2,3,4,5}
B={4,5,6,7,8}
d=A-B
print(d)
i=A&B
print(i)
print(A.difference(B))
print(A.intersection(B))

{1, 2, 3}
{4, 5}
{1, 2, 3}
{4, 5}

### 11. If set= {1, 2, 3, 5, 6} then add an element 4 in the set using add () function and remove 3 using discard () function?

In [2]:
set= {1, 2, 3, 5, 6} 
set.add(4)
set.discard(3)
print(set)

{1, 2, 4, 5, 6}

### 12. Add 12,9,11 in the set A = {1, 2, 3, 5, 6} using update () function?

In [45]:
#using update () function we can add elements in the set.
#Here elements are add in sequence.

A={1,2,3,4,5}
A.update([12,9,11])
print(A)

{1, 2, 3, 4, 5, 9, 11, 12}

### 13. Create a set and print the sum of all the elements in the set?

In [1]:
#Usinf sum() function we can add all the elements of the set.

A={1,2,3,4,5}
additon=sum(A)
print(additon)

15

### 14. if myset={"a","p","p","l","e"}  then check whether a and r is in the set or not using membership?

In [48]:
myset={"a","p","p","l","e"}
print('a' in myset)
print('r' in myset)
print('a' not in myset)
print('r' not in myset)

True
False
False
True

### 15. Create a dictionary of players name and scores in match and print keys and values in dictionary using for loop?

In [53]:
# Using items() here we display key-values pair in dictionary.
dict={"name":["kohli","dhoni"],"scores":[100,78]}
for k,v in dict.items():
    print(k,v)

name ['kohli', 'dhoni']
scores [100, 78]

In [17]:
a=eval(input("give any number    "))

give any number    50

In [18]:
type(a)

int

In [25]:
import numpy as np
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [20]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9