## *Python Exercise
## *List and Tuple in python:

### 1. What is tuple?

Ans- Tuple is a python sequence which stores a group of elements or items.It is represented by parentheses().

### 2. What is difference between list and tuple?

Ans- A list can stores a group of elements of different datatypes.It is  represented by squared brackets [].Tuple is a python sequence which stores a group of elements or items.It is represented by parentheses().Tuples are similar to lists but only  the main difference is tuples are immutable whereas lists are mutable.

### 3. What is the result of range (1, 12, 2)?

Ans-the result of range (1, 12, 2) is [1,3,5,7,9,11]

In [7]:
a=range(1, 12, 2)
print(a)
for i in a:
    print(i)

range(1, 12, 2)
1
3
5
7
9
11

### 4. Assuming a= [10, 20, 30, 40, 50]
    1. Find length of a list?
    2. Find maximum and minimum number of a list

In [8]:
a= [10, 20, 30, 40, 50]
b=len(a)
c=min(a)
d=max(a)
print("length of a list is",b)
print("minimum number of a list is",c)
print("maximum number of a list is",d)

length of a list is 5
minimum number of a list is 10
maximum number of a list is 50

### 5. If x=(1,2,3,4,5,1,3,1) then what is the result of x*2 and x.count(1)?

In [9]:
# To repeat same tuple multiple times(for eg. 2,3,.. times) we used "*" 
# To get the Frequency of an element that is How many times the given element is present in the tuple oand list we used count().

x=(1,2,3,4,5,1,3,1) 
print(x*2)
print(x.count(1))

(1, 2, 3, 4, 5, 1, 3, 1, 1, 2, 3, 4, 5, 1, 3, 1)
3

### 6. Create a list of colors name and then print first and last color name of the list using slicing?

In [29]:
#Slicing (indexing) is used to access the element from the list.

color=["red","blue","pink","yellow","black"]
print("1st element of the list is",color[1])
print("last element of the list is",color[4])

1st element of the list is blue
last element of the list is black

### 7. If list = [1,4,7,'a','c',"rat","mat",4,6,4] then add element 12 using append method and remove rat element using remove method  in the given list?

In [11]:
# append method always add element in the last of the list.

list = [1,4,7,'a','c',"rat","mat",4,6,4] 
a=list.append(12)
b=list.remove("rat")
print(list)

[1, 4, 7, 'a', 'c', 'mat', 4, 6, 4, 12]

### 8. Create two list and concatenate them and then repeat 1st list 3 times?

In [12]:
# To concatenate list,tuple,string etc we use addition "+" operator.
list1=[1,2,3]
list2=[4,5,6]
x=list1+list2
print(x)
print(list1*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 9. Create a tuple of fruits name and then access first 4 elements from the tuple?

In [61]:
#By using Slicing we can access or extract the elements or items from list and tuple.
tup=("apple","banana","mango","cherry","grapes","orange")
print(tup[0:4])

('apple', 'banana', 'mango', 'cherry')

### 10. Create a list using range function and then convert this list into tuple using tuple function?

In [13]:
#Here using range fuction we have create the element from 1 to 9 with 1 step.
#using for loop we can print all the element in the list
list=range(1,10,1)
for i in list:
    print(i)
print(tuple(list))

1
2
3
4
5
6
7
8
9
(1, 2, 3, 4, 5, 6, 7, 8, 9)

### 11. Create a tuple using eval function and then obtained the length of tuple?

In [14]:
#using len() function we can find how many elements or items are in the tuple.
#length in python is start from 1.
x=eval(input("Enter a values:"))
print(x)
len(x)

Enter a values:1,5,6,8
(1, 5, 6, 8)

4

### 12. Create a tuple of integer number and then sort the elements of tuple?

In [6]:
#using sorted() function we can sort the elements or items are in the ascending order.
x=eval(input("Enter a values:"))
print(x.count(4))
print(type(x))
print(type(sorted(x)))

Enter a values:5,3,2,78,5
0
<class 'tuple'>
<class 'list'>

In [23]:
x=eval(input("Enter a values:"))  
print(sorted(x))

Enter a values:"rat","bat","sat","pen"
['bat', 'pen', 'rat', 'sat']

### 13. Create a list of colors name and then insert purple color on 3rd position using insert method?

In [15]:
# Usinf  insert() method we can add the element or item at particular or specific positon(index).

color=["red","blue","pink","yellow","black"]
print(color)
color.insert(3,"purple")
print(color)

['red', 'blue', 'pink', 'yellow', 'black']
['red', 'blue', 'pink', 'purple', 'yellow', 'black']

### 14. If x= (50, 60, 70, 80, 90, (200,100)) then access 200,100 from the tuple?

In [25]:
x = (50, 60, 70, 80, 90, (200,100))
print(x[5])

(200, 100)

### 15. Create a nested tuple and nested list?

In [17]:
#A nested list is a list inside another list.
#A nested tuple is a tuple inside another tuple.
tup = (50, 60, 70, 80, 90, (200,100))
list = [1,4,7,'a','c',["rat","mat"],4,6,4] 
print(tup)
print(list)

(50, 60, 70, 80, 90, (200, 100))
[1, 4, 7, 'a', 'c', ['rat', 'mat'], 4, 6, 4]